{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}
mkdir -p /opt/app/conf/appctl
flush > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
APPCTL_NODE_FILE=/opt/app/conf/appctl/node.init
SASL_PASSWD={{ getv "/env/sasl_password" }}
SASL_USER={{ getv "/env/sasl_username" }}
SASL={{ getv "/env/sasl_type" }}
MY_IP={{ getv "/host/ip" }}
MY_EIP={{ getv "/host/eip" }}
MY_ROLE={{ $myRole }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
MY_PORT="{{ if eq $myRole "kafka" }}9092{{ else }}{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}"
{{- if eq $myRole "kafka-manager" }}
WEB_USER="{{ getv "/env/kafka-manager.basicAuthentication.username" }}"
WEB_PASSWORD="{{ getv "/env/kafka-manager.basicAuthentication.password" }}"

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
ZK_HOSTS={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}/kafka/{{ $clusterId }}
{{- end }}

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
ZK_NODES={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}
APPCTL_ENV_EOF

