{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}
mkdir -p /opt/app/conf/appctl

{{- $ibpvMap := map "appv-bj0t2o9z" "3.1" "appv-3fyiby2j" "2.3" "appv-ijbugse5" "1.1" "appv-3w7cnjir" "1.0" "appv-zvwuau98" "0.10.2" }}
{{- $lmfvMap := map "appv-bj0t2o9z" "3.0" "appv-3fyiby2j" "2.3" "appv-ijbugse5" "1.1" "appv-3w7cnjir" "1.0" "appv-zvwuau98" "0.10.2" }}
{{- $upgradingFlag := "" }}
{{- if len (ls "/upgrade-audit") }}
  {{- $upgradingFlag = "true" }}
{{- else }}
  {{- $upgradingFlag = "false" }}
{{- end }}
flush > /opt/app/bin/envs/appctl.env << APPCTL_ENV_EOF
APPCTL_NODE_FILE=/opt/app/conf/appctl/node.init
SASL_PASSWD='{{ replace (getv "/env/sasl_password") `$` `\$` -1 }}'
SASL_USER='{{ getv "/env/sasl_username" }}'
SASL={{ getv "/env/sasl_type" }}
MY_IP={{ getv "/host/ip" }}
MY_EIP={{ getv "/host/eip" }}
MY_ROLE={{ $myRole }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
MY_PORT="{{ if eq $myRole "kafka" }}9092{{ else }}{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}"
{{- if eq $myRole "kafka-manager" }}
WEB_USER='{{ getv "/env/kafka-manager.basicAuthentication.username" }}'
WEB_PASSWORD='{{ replace (getv "/env/kafka-manager.basicAuthentication.password") `$` `\$` -1 }}'

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
ZK_HOSTS={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}/kafka/{{ $clusterId }}
{{- end }}

{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $zkHosts := getvs "/links/zk_service/hosts/*/ip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
ZK_NODES={{ range $i, $ip := $zkHosts }}{{ if $i }},{{ end }}{{ $ip }}:{{ $zkPort }}{{ end }}

KAFKA_NODES="$(sort -t '/' -k1,1n <<KAFKA_NODES_EOF
{{- range $instanceId := lsdir "/hosts/kafka" }}
{{ getv (printf "/hosts/kafka/%s/sid" $instanceId) }}/
{{- getv (printf "/hosts/kafka/%s/ip" $instanceId) }}
{{- end }}
KAFKA_NODES_EOF
)"

UPGRADING_FLAG={{ $upgradingFlag }}
{{- if eq $upgradingFlag "true" }}
OLD_IBPV={{index $ibpvMap (getv "/upgrade-audit/from_app_version") }}
OLD_LMFV={{index $lmfvMap (getv "/upgrade-audit/from_app_version") }}
{{- end }}
APPCTL_ENV_EOF

