flush > /opt/app/bin/envs/services.env << SERVICES_EOF
SERVICES="$( echo "
{{ if eq $myRole "kafka" }}kafka/true/tcp:9092{{ end }}
{{ if eq $myRole "kafka-manager" }}kafka-manager/true/http:{{ getv "/env/kafka-manager.port" "9000" }}{{ end }}
caddy/true/tcp:80
zabbix-agent/{{ getv "/env/zabbix.agent.enable" "false" }}/tcp:{{ getv "/env/zabbix.agent.port" "10050" }}" | xargs)"

DATA_MOUNTS="/data"
NODE_CTL="kafka_ctl"
KAFKA_SCALA_VERSION={{ getv "/env/kafka.scala.version" "2.13" }}
SERVICES_EOF
