hostsFile=/etc/hosts
sed "/^# >> ZK nodes./,/^# << ZK nodes./d" $hostsFile > $hostsFile.swap
flush >> $hostsFile.swap << HOSTS_FILE
# >> ZK nodes. WARNING: this is managed by script and please don't touch manually.
{{- range lsdir "/links/zk_service/hosts" }}
{{ getv (printf "/links/zk_service/hosts/%s/ip" .) }}   {{ getv "/links/zk_service/cluster/cluster_id" }}-{{ getv (printf "/links/zk_service/hosts/%s/sid" .) }}
{{- end }}
# << ZK nodes. WARNING: this is managed by script and please don't touch manually.
HOSTS_FILE
mv $hostsFile.swap $hostsFile
