{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}
{{ if eq $myRole "kafka" }}

sed -i 's/jmx-exporter\/\(true\|false\)/jmx-exporter\/{{ getv "/env/jmx-exporter.enable" "false" }}/' /opt/app/bin/envs/services.env

flush > /opt/app/conf/jmx-exporter/.env << JMX_EXPORTER_ENV_EOF
JAVA_HOME=/opt/openjdk/current
EXPORTER_PORT={{ getv "/env/jmx-exporter.port" "19999" }}
JMX_EXPORTER_ENV_EOF
{{ end }}