{{ if eq $myRole "kafka" }}
flush > /opt/app/bin/envs/svc-jmx-exporter.env << JMX_EXPORTER_SVC_EOF
SERVICES="\$SERVICES jmx-exporter/{{ getv "/env/jmx-exporter.enable" "false" }}/tcp:{{ getv "/env/jmx-exporter.port" "19999" }}"
JMX_EXPORTER_SVC_EOF
{{ end }}