{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}

{{ if eq $myRole "kafka" }}
flush > /opt/app/bin/envs/svc-zabbix-agent.env << ZABBIX_SVC_EOF
SERVICES="\$SERVICES zabbix-agent/{{ getv "/env/zabbix.agent.enable" "false" }}/tcp:{{ getv "/env/zabbix.agent.port" "10050" }}"
ZABBIX_SVC_EOF
{{ end }}