mkdir -p /etc/zabbix/zabbix_agentd.d/

{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}

{{ if eq $myRole "kafka" }}

sed -i 's/zabbix-agent\/\(true\|false\)/zabbix-agent\/{{ getv "/env/zabbix.agent.enable" "false" }}/' /opt/app/bin/envs/services.env

flush > /etc/zabbix/zabbix_agentd.conf << ZABBIX_EOF
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/data/log/zabbix/zabbix_agentd.log
LogFileSize=20
Server={{ getv "/env/zabbix.server.ip" "127.0.0.1" }}
ListenPort={{ getv "/env/zabbix.agent.port" "10050" }}
Hostname=system.hostname
Include=/etc/zabbix/zabbix_agentd.d/*.conf
UnsafeUserParameters=1
RefreshActiveChecks=120  
DebugLevel=3

ZABBIX_EOF
{{ end }}