{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}
{{- $myIp := getv "/host/ip" }}
{{- $myEip := getv "/host/eip" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
{{- if eq $myRole "kafka" }}

{{- $halfMemory := div (getv "/host/memory") 2 }}
{{- $heapSize := min $halfMemory 6144 }}

flush > /opt/app/conf/kafka/.env << KAFKA_ENV_EOF
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
LOG_DIR=/data/log/kafka/logs
KAFKA_GC_LOG_OPTS="$(echo "
-verbose:gc
-Xloggc:/data/log/kafka/logs/gc.log
-XX:+IgnoreUnrecognizedVMOptions
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=20
-XX:GCLogFileSize=2M
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-XX:+PrintGCDateStamps
-XX:+PrintClassHistogram
-XX:+PrintTenuringDistribution
-XX:+PrintGCApplicationStoppedTime
" | xargs)"
KAFKA_HEAP_OPTS="$(echo "
-Xms{{ $heapSize }}m
-Xmx{{ $heapSize }}m
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/log/kafka/dump/dump.hprof
-XX:+ExitOnOutOfMemoryError
-XX:ErrorFile=/data/log/kafka/logs/hs_err.log
" | xargs)"
KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/opt/app/conf/kafka/log4j.properties"
KAFKA_JMX_OPTS="$(echo "
{{- $SASLType := getv "/env/sasl_type" }}
{{- if eq $SASLType "SCRAM-SHA-512" }}
-Djava.security.auth.login.config=/opt/app/conf/kafka/kafka_server_jaas.conf
{{- else if eq $SASLType "SCRAM-SHA-256" }}
-Djava.security.auth.login.config=/opt/app/conf/kafka/kafka_server_jaas.conf
{{- else if eq $SASLType "SASL-PLAINTEXT" }}
-Djava.security.auth.login.config=/opt/app/conf/kafka/kafka_server_jaas.conf
{{- end }}
-Dcom.sun.management.jmxremote.rmi.port=9999
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Djava.rmi.server.hostname={{ getv "/host/ip" }}
" | xargs)"
JMX_PORT=9999
EXTRA_ARGS='-name kafka'
KAFKA_ENV_EOF

{{- end }}
