{{- $roleMap := map "kafka" "kafka" "client" "kafka-manager" }}
{{- $myRole := index $roleMap (getv "/host/role") }}
{{- $myIp := getv "/host/ip" }}
{{- $myEip := getv "/host/eip" }}
{{- $advertisedHostName := getv "/env/advertised.host.name" }}
{{- $zkPort := getv "/links/zk_service/cluster/endpoints/client/port" "2181" }}
{{- if eq $myRole "kafka" }}

{{- $halfMemory := div (getv "/host/memory") 2 }}
{{- $heapSize := min $halfMemory 6144 }}

flush /opt/app/current/conf/kafka/.env << KAFKA_ENV_EOF
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
LOG_DIR=/data/kafka/logs
KAFKA_GC_LOG_OPTS="$(echo "
-verbose:gc
-XX:+ExitOnOutOfMemoryError
-Xlog:gc=trace:file=/data/kafka/logs/gc.log:utctime,pid,tags:filecount=32,filesize=10m
-Djava.locale.providers=COMPAT
" | xargs)"
KAFKA_HEAP_OPTS="$(echo "
-Xms{{ $heapSize }}m
-Xmx{{ $heapSize }}m
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/kafka/dump/dump.hprof
-XX:+ExitOnOutOfMemoryError
-XX:ErrorFile=/data/kafka/logs/hs_err.log
" | xargs)"
KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/opt/app/current/conf/kafka/log4j.properties"
KAFKA_JMX_OPTS="$(echo "
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Djava.rmi.server.hostname={{ getv "/host/ip" }}
" | xargs)"
JMX_PORT=9999
EXTRA_ARGS='-name kafka'
KAFKA_ENV_EOF

{{- end }}
